<div class="cont">
  <mat-card class="acc-list">
    <mat-toolbar class="toolbar-header">
      <span>
        <mat-icon>toll</mat-icon>
        Moji ACC uređaji
      </span>
    </mat-toolbar>
    <ng-container>
      <mat-list class="hasoverflow">
        <ng-container  *ngFor="let tag of tagInfo" >
        <mat-list-item class="item">
        <div class="w-50">
          <div class="info">Broj ACC uređaja - <span class="stanje">{{tag.id}}</span></div>
          <div class="info">Naziv ACC uređaja - {{tag.naziv}}</div>
          <div class="info">Registrovano vozilo - {{tag.auto}}</div>
          <div class="info">Registracijske tablice - {{tag.regBroj}}</div>
          <div class="info">Aktivan od - {{tag.datum}}</div>
        </div>
        <div class="w-50">
          <span class="info"> Stanje na računu: <span class="stanje">{{tag.stanje}}</span></span>
        </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        </ng-container>
      </mat-list>
    </ng-container>
  </mat-card>
  <div class="thstwo">
    <mat-card>
      <mat-toolbar class="toolbar-header">
        <span>
          <mat-icon>settings</mat-icon>
          Postavke računa
        </span>
      </mat-toolbar>
      <div class="editlb">
        <span class="info message-do"> Donja granica stanja računa (KM) </span>
        <input matInput type="number" [value]="lowerBound" [(ngModel)]="lowerBound" [disabled]="isEditDisabled">
        <ng-container *ngIf="isEditDisabled; else save">
          <button mat-button (click)="editLowerBound()">
            <mat-icon>edit</mat-icon>
          </button>
        </ng-container>
        <ng-template #save>
          <button mat-button (click)="saveLowerBound()">
            <mat-icon>save</mat-icon>
          </button>
        </ng-template>
      </div>
      <span class="grey">
        <mat-icon>help</mat-icon>
        <i>Nakon što stanje računa na nekom od Vaših ACC uređaja bude manje od ovdje navedene granice, poslaćemo Vam
          obavijest.</i>
      </span>
    </mat-card>
    <mat-card class="visina">
      <mat-toolbar class="toolbar-header">
        <span>
          <mat-icon>library_add</mat-icon>
          Dodajte novi ACC uređaj
        </span>
      </mat-toolbar>
      <div class="editlb">
        <mat-form-field appearance="fill">
          <mat-label>Kategorija vozila</mat-label>
        <mat-select [(ngModel)]="kategorija" name="kategorija">
          <mat-option value="1">Kategorija I</mat-option>
          <mat-option value="2">Kategorija II</mat-option>
          <mat-option value="3">Kategorija III</mat-option>
          <mat-option value="3">Kategorija IV</mat-option>
        </mat-select>
      </mat-form-field>
        <button mat-button class="posalji" (click)="posaljiZahtjev()" [disabled]="cansend()">Pošalji zahtjev</button>
      </div>
      <span class="grey">
        <mat-icon>help</mat-icon>
        <i>Nakon što pošaljete zahtjev za novim uređajem, kontaktiraćemo Vas u roku od pet radnih dana.</i>
      </span>
    </mat-card>
  </div>
</div>