$base-color:  rgb(51, 102, 153);
$base-light-color: rgb(217, 230, 242);
.example-container {
    position: absolute;
    top: 80px;
    bottom: 40px;
    left: 0;
    right: 0;
  }
.shadow {
  box-shadow: 1px 1px 3px #FF0000;
}
  .item-button {
      display: flex;
      margin-left:auto;
      margin-right: auto;
      height: 5em;
      margin-top: 10%;
  }
  .item-icon {
      font-size: 3em;
      color: $base-color;
  }
  .mat-toolbar-row, .mat-toolbar-single-row {
      height: 80px;
  }
  .example-sidenav {
    display: inline;
    align-items: center;
    justify-content: center;
    width: 5%;
    background-color: $base-light-color;
  }
  
  .example-header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    bottom: 0;
    left: 0;
    padding-left: 0px;
    background-color: $base-light-color;
    div{
      display: flex;
    height: 100%;
    width: 50%;
  }
    span {   
        display: flex;
    }
    span.title {
      font-size: 1.3em;
      font-weight: 500;
      align-items: center;
      padding-left: 2%;
      color: $base-color;
    }
    .menu-icon {
        width: 10%;
        height: 100%;
        mat-icon {
            display: flex;
            justify-content: center;
            align-items: center;
        background-color:  $base-color;
        color: white;
        font-size: 3em;
        width: 100%;
        height: 100%;
        }
    }
    .user-icon {
        font-size: 40px;
        color: $base-color;
        display: flex;
        align-items: center;
        padding-right: 1em;
    }
  }
  
  .example-footer {
    position: fixed;
    display: flex;
    align-items: flex-end;
    font-size: 15px;
    bottom: 0;
    left: 0;
    right: 0;
    mat-icon {
        display: flex;
        padding: 0.2em;
    }
  }
  