<mat-card *ngIf="!isEdit" class="mb-5">
  <mat-toolbar class="toolbar-header">
    <span>
      <mat-icon>account_box</mat-icon>
      Moj profil
    </span>
    <button mat-button class="edit">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-toolbar>
  <div class="user-container">
    <div class="user-info-container">
      <div class="user-info">Ime i prezime</div>
      <div class="user-info">Adresa<br><br><br></div>
      <div class="user-info">Broj telefona</div>
      <div class="user-info">Email</div>
      <div class="user-info">Datum registracije</div>
    </div>
    <div class="user-info-container">
      <div class="user-info user-info-value">{{userInfo.name}}</div>
      <div class="user-info user-info-value">{{userInfo.address}}
        <br>
        {{userInfo.city}}, {{userInfo.zip}}
        <br>
        {{userInfo.state}}
      </div>
      <div class="user-info user-info-value">{{userInfo.phoneNumber}}</div>
      <div class="user-info user-info-value">{{userInfo.email}}</div>
      <div class="user-info user-info-value">{{userInfo.registeredDate}}</div>
    </div>
  </div>
</mat-card>