<div class="filter-bar">
  <mat-form-field>
    <mat-label>Pretraga</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
  </mat-form-field>
  <span>
    <mat-icon [matTooltip]="'Historiju možete filtrirati unosom vrijednosti bilo kojeg polja'"
    [matTooltipPosition]="'right'">help</mat-icon>
  </span>
</div>
<table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="sortedData" multiTemplateDataRows
  class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell *matHeaderCellDef mat-sort-header><b> {{imekolone[column]}} </b></th>
    <td mat-cell *matCellDef="let element"
      [ngClass]="{'green': column == 'iznos' && element['naziv']=='Uplata', 'red': column == 'iznos' && element['naziv']=='Naplata autoceste'}">
      {{element[column]}} </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

        <div class="example-element-description">
          Mjesto ulaza: <b>{{element.ulaz}}</b>
        </div>
        <div class="example-element-description">
          Vrijeme ulaza: <b>{{element.vrijemeUl}}</b>
        </div>
        <div class="example-element-description">
          Mjesto izlaza: <b>{{element.izlaz}}</b>
        </div>
        <div class="example-element-description">
          Vrijeme izlaza: <b>{{element.vrijemeIz}}</b>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
    [class.example-expanded-row]="expandedElement === element"
    (click)="expandedElement = expandedElement === element || element['naziv']=='Uplata' ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  
</table>

<mat-paginator [pageSize]="'10'" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>