$base-color:  rgb(51, 102, 153);
$base-light-color: rgb(217, 230, 242);
.toolbar-header {
    display: flex;
    justify-content: space-between;
    font-size: 1.6em;
    margin-bottom: 4%;
    align-items: center;
    color:#e68a00;
    span {
        align-items: center !important;
    }
    mat-icon {
        font-size: 1.6em;
        display: inline;
        vertical-align: top;
    }
}
.stanje {
    font-size: 22px;
    font-weight: 500;
}
.visina {
    height: 100%;
    display: grid;
    align-content: space-between;
}
.posalji {
    color: $base-color;
    font-size: 14px;
    margin-bottom: 3%;
}
::ng-deep.blue-snackbar {
    background-color: $base-color;
}
::ng-deep mat-list{
    height: 70%;
}
.thstwo {
    display: grid;
    align-content: space-between;
}
.info, input {
    font-size: 1.2em !important;
    margin-bottom: 0.3em;
}
.message-do {
    margin: 1.1em;
}
.mat-card .mat-divider-horizontal {
     position: relative;
}
.hasoverflow {
    overflow-y: scroll;
}
.w-50 {
    width: 50%;
}
.editlb {
    display: flex;
}
::ng-deep mat-list-item {
    margin-top: 2%;
    padding-top: 1%;
    height: fit-content!important;
}
.item {
    margin: 5%;
}
.grey {
    color: gray;
}
.cont {
    width: 100%;
    height: 95%;
    display: flex;
}
.acc-list {
    width: 80%;
    margin-right: 2%;
    height: 100%;
}
